<div th:replace="shared/header"  xmlns:th="http://www.w3.org/1999/xhtml"></div>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>
                    <p class="mb-4">Cadastre um novo usuario</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Lista de Usuarios: </h6>
                            <button class="btn btn-primary"> Alterar ususario Novo Usuario </button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive container">
                                <form class="row g-3" th:action="@{'/usuarios/alterar/' + ${user.id}}" method="post" xmlns:th="http://www.w3.org/1999/xhtml" onsubmit="return confirm('Fez todas as atualizações necessarias?')">
                                    <div class="col-md-6">
                                        <label for="nome" class="form-label">Nome</label>
                                        <input type="text" class="form-control" name="nome" id="nome" th:value="${user.nome}">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" name="email" id="email" th:value="${user.email}">
                                    </div>
                                    <div class="col-12">
                                        <label for="endereco" class="form-label">Endereço</label>
                                        <input type="text" class="form-control" name="endereco" id="endereco" placeholder="Endereço completo" th:value="${user.endereco}">
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <label for="sobrevc" class="form-label">Sobre Voce</label>
                                            <textarea class="form-control" name="observacao" placeholder="Falem mais sobre voce" id="sobrevc" th:inline="text">[[${user.observacao}]]</textarea>
                                        </div>
                                    </div>
                                    <div class="mt-3 d-flex justify-content-end" style="width: 100%">
                                        <button type="submit" class="btn btn-success">Cadastrar</button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
    <div th:replace="shared/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>
